body {
  background: rgb(255, 213, 153);
  background: linear-gradient(135deg, rgba(255, 213, 153, 1) 0%, rgba(50, 182, 206, 1) 100%);
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.container>form {
  width: 80%;
  border: 2px solid #50a0b0;
  padding: 30px;
  border-radius: 8px;
  background: #f7f7f7;
}

pre {
  width: 80%;
  color: #2a2a2a;
  font-size: larger;
}

button {
  background: #34a853 !important;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #2b8f45 !important;
}

p {
  color: #cc0000;
}